$dark_blue: rgb(38 89 153);
$light_blue: rgb(68, 136, 191);
$main_bgc: rgba(231, 230, 218,.75);
$light_gold: rgb(213, 173, 54);
$dark_gold: rgb(202, 151, 3);
$border_color: rgb(21, 21, 21);
$btn_hover: rgb(116, 34, 34);

$main_blue_gradient: radial-gradient(circle, rgba(68,136,191,1) 53%, rgba(38,89,153,1) 100%);
// background: rgb(68,136,191);
// background: radial-gradient(circle, rgba(68,136,191,1) 53%, rgba(38,89,153,1) 100%);

$main_ball_gradient: radial-gradient(circle, rgba(213,173,54,1) 28%, rgba(202,151,3,1) 81%);
// background: rgb(213,173,54);
// background: radial-gradient(circle, rgba(213,173,54,1) 28%, rgba(202,151,3,1) 81%);