$dark_blue: rgb(38 89 153);
$light_blue: rgb(68, 136, 191);
$main_bgc: rgba(231, 230, 218,.75);
$main_bgc_full: rgba(231, 230, 218,1);
$light_gold: rgb(213, 173, 54);
$dark_gold: rgb(202, 151, 3);
$border_color: rgb(21, 21, 21);
$btn_close_bgc: rgb(194, 20, 20);
$nav_bgc: rgba(189,205,210,1);

$main_blue_gradient: radial-gradient(circle, rgba(68,136,191,1) 53%, rgba(38,89,153,1) 100%);
$main_ball_gradient: radial-gradient(circle, rgba(213,173,54,1) 28%, rgba(202,151,3,1) 81%);
