@media (min-width: 576px) {
	.menu {
		padding-top: 1rem;
		.ti-dots {
			font-size: 6rem;
		}
	}
	.box {
		height: 9vh;
	}
	.box__header {
		top: -35px;
		font-size: 2.2rem;
	}
	.input__box {
		margin-top: 8rem;
	}
	.output__box {
		margin-top: 5rem;
	}
	.pickBall__box {
		height: 50vh;
		margin-top: 5rem;
		margin-bottom: 2.5rem;
	}
	.ball {
		width: 30px;
		height: 30px;
		padding: 18px;
		font-size: 2rem;
	}
	.button__box {
		padding: 2rem;
		width: 200px;
		height: 30px;
		font-size: 5rem;
	}
	.ball_js {
		transform: scale(1.1);
	}
	footer {
		height: 42px;
		.footer__logo_box {
			width: 30px;
			height: 30px;
			margin-left: 1rem;
		}
		p {
			font-size: 1.8rem;
			margin-right: 1rem;
		}

		.ti-brand-github {
			font-size: 2.2rem;
		}
	}
	.nav__box {
		&_text {
			font-size: 4rem;
		}
		&_option {
			padding: 1.5rem;
			font-size: 5.5em;
		}
	}
	.info__box {
		&_window {
			max-width: 400px;
			min-width: 350px;
			min-height: 250px;
			margin-top: 6vh;

			border-radius: 1.5rem;
		}
		&_close {
			right: -10px;
			top: -10px;
			width: 35px;
			height: 35px;
			box-shadow: 1px 1px 2px black;
			font-size: 3rem;
		}

		&_text {
			display: flex;
			flex-direction: column;
			align-items: center;
			text-align: center;
			padding: 1.3rem;
			font-size: 2.4rem;
			line-height: 150%;
			.ball {
				margin-top: 2.4rem;
			}
		}

		&_statistic-ul {
			letter-spacing: 2px;
			word-spacing: 3px;
			text-align: left;
			padding-top: 2.5rem;
			padding-left: 2.5rem;
		}
		&_statistic-paragraph {
			font-size: 130%;
			color: $dark-gold;
			letter-spacing: 1px;
		}
	}
}
